
body{
	
	/* background-color: rgba(0,0,0,.07); */
	padding-top: 4%;
	padding-bottom: 3%;

}
.container{
	background-color: white;
	/* box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important; */
}
.form-control{
	border: none;
}
.garis{
	border-bottom: 2px solid black;
}
.hilang{
	display: none;

}

