body{
	
	/* background-color: rgba(0,0,0,.07); */
	padding-top: 4%;
	padding-bottom: 3%;

}
.container{
	background-color: white;
	/* box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important; */
}
.form-control{
	border: none;
}
.garis{
	border-bottom: 2px solid black;
}
.hilang{
	display: none;

}
#foot-login{
	margin-left: 30px;
	margin-top: 60px;
}
#btn-ganti{
	width: 75%;
}
#cancel{
	width: 23%;
}
@media(max-width:768px )
{
	
	#btn-ganti{
		width: 100%;
	}
	#cancel{
		width: 100%;
	}

}

@media(max-width:575px )
{
	#foot-login .col-sm-8{
		margin-left: -2rem;
		margin-top: 0px;
	}
	#login-contact{
		margin-left: -3rem;
	}
	#btn-ganti{
		width: 100%;
	}
	#cancel{
		width: 100%;
	}
	body{
		padding-top: 0%;
		padding-bottom: 0%;
	}
}
@media (max-width: 375px)
{
	#foot-login{
		margin-top: 0;
	}
	/* update yang ini */
	#foot-login .col-sm-8{  
		margin-left: -3rem;
		margin-top: 0px;
	}
	#login-contact{
		margin-left: -4rem;
		font-size: 15px;
	}
}
@media (max-width: 360px)
{
	#foot-login{
		margin-top: 0;
	}
	/* update yang ini */
	#foot-login .col-sm-8{  
		margin-left: -3.9rem;
		margin-top: 0px;
	}
	#login-contact{
		margin-left: -4rem;
		font-size: 13px;
	}
}
@media (max-width: 540px)
{
	#foot-login{
		margin-left: 7rem;
		margin-top: 0px;
	}
}